@font-face {
    font-family: 'FunkySmile';
    src: url('FunkySmile-Regular.otf') format('truetype')
}

@keyframes fadeIn {
    from { opacity: 0.1; }
    to   { opacity: 1; }
  }

body {
    font-family: 'FunkySmile', sans-serif;
    margin: 0vw;
}

header {
    background-color: #80dfff;
    padding-top: 2vw;
    padding-bottom: 2vw;
    position: relative;
    display: flex;
    align-items: center; /* Center align items vertically */
    justify-content: center;
    height: 14vw;
}

#logo {
    width: 30vw;
    position: absolute;
    left: 40%;
    animation: fadeIn 0.7s ease-in;
}

#why {
    animation: fadeIn 1.5s ease-in;
    font-size: 2.8vw;
    background-color: #ffffff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items vertically */
    justify-content: center;
    color : #0f396e;
    padding-bottom : 8vw;
}

#text_why {
    color : #0f396e;
}

#info_why {
    margin : 1vw;
}

#text_best {
    padding-top: 5vw
}

#story {
    animation: fadeIn 1.5s ease-in;
    font-size: 2.8vw;
    background-color : #0f396e;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items vertically */
    justify-content: center;
}

#text_story {
    color: white;
}

#info_story {
    color :  #80dfff;
    padding-bottom: 1w;
}

#price{
    animation: fadeIn 1.5s ease-in;
    font-size: 2.8vw;
    background-color: #80dfff;
    padding-top: 2vw;
    padding-bottom: 2vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items vertically */
    justify-content: center;
    padding-bottom : 8vw;
}

#text_price{
    color : #0f396e;
    padding-bottom : 2vw;
}
#info_price {
    color : #0f396e;
    margin : 1vw;
}
footer {
    animation: fadeIn 1.5s ease-in;
    font-size: 2.5vw;
    background-color : white;
    color : #0f396e;
    height: 28vw;
    position: relative;
}

.no-underline {
    text-decoration: none; /* Removes the underline */
    color: inherit; /* Inherits the color from the parent element */
}

#info {
    position: absolute;
    left: 46%;
}

#email {
    position: absolute;
    left : 7vw;
    top : 16vw
}

#cell {
    position: absolute;
    left : 7vw;   
    top : 10vw 
}

#insta {
    position: absolute;
    right : 7vw;   
    top : 10vw     
}
  
